DB_HOST=localhost
DB_USER=postgres
DB_PASS=
DB_NAME=
DB_PORT=5432
JWT_SECRET=
FE_ENDPOINT=
EXPORT_PORT=

S3_URL=
S3_BUCKET=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_KEY_PREFIX=pajak/backup_database
PG_DUMP_PATH="C:/Program Files/PostgreSQL/17/bin/pg_dump.exe"